  <h3> Search results for: <%= @query %> </h3>
  <% if @books.blank? %>
    <h4> No books found. </h4>
  <% else %>
    <table class="table table-responsive">
      <thead>
        <tr>
          <th>Title</th>
          <th>Authors</th>
          <th>Description</th>
          <th>Image</th>
        </tr>
      </thead>
      <tbody>
        <% @books.first(10).each do |book| %>
          <tr>
            <td><%= link_to book.title, book.link, :target => "_blank" %></td>
            <td><%= book.print_authors %></td>
            <td><%= book.description %></td>
            <td><%= link_to image_tag(book.image), book.link, :target => "_blank" %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
