<!DOCTYPE html>
<html>
  <head>
    <title>Google Books</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <div class="container">
    <body>
      <header class="navbar navbar-fixed-top navbar-inverse">
        <%= link_to "Google Books App", 'https://books.google.com/', id: "logo" %>
      </header>
      <div class="col-sm-3 col-md-3">
        <%= form_tag books_path, method: 'get', class: 'navbar-form', role: 'search' do %>
          <div class="input-group">
            <%= text_field_tag :query, params[:query], placeholder: "Search Books", class: "form-control"%>
            <div class="input-group-btn">
              <%= submit_tag "Search", class: 'btn btn-default' %>
            </div>
          </div>
        <% end %>
      </div>
      <div class="container">

      <%= yield %>
      </div>
    </body>
  </div>
</html>
